.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    z-index: 1100;
}

.loader {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -2rem 0 0 -2rem;
    color: '#392576';
}
