@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    margin: auto;
}

.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    row-gap: 64px;
    text-align: center;
}

.loading-spinner {
    margin-top: 36px;
    color: #e2e1e1;
}

@layer components {
    .btn {
        @apply py-1 px-4 mr-2 mb-3 rounded text-sm;
    }
    .sm {
        @apply px-2;
    }

    .md {
        @apply px-4;
    }

    .lg {
        @apply px-8;
    }

    .xl {
        @apply px-16;
    }

    .default {
        @apply bg-gray-100 text-gray-800;
    }
    .default:hover {
        @apply bg-gray-200 text-gray-800;
    }

    .primary {
        @apply bg-bleed-blue text-white;
    }
    .primary:hover {
        @apply bg-blue-600 text-white;
    }

    .success {
        @apply bg-green-500 text-white;
    }
    .success:hover {
        @apply bg-green-600 text-white;
    }

    .info {
        @apply bg-blue-500 text-white;
    }
    .info:hover {
        @apply bg-blue-600 text-white;
    }

    .warning {
        @apply bg-yellow-400 text-white;
    }
    .warning:hover {
        @apply bg-yellow-500 text-white;
    }

    .danger {
        @apply bg-red-500 text-white;
    }
    .danger:hover {
        @apply bg-red-600 text-white;
    }

    .dark {
        @apply bg-gray-800 text-white;
    }
    .dark:hover {
        @apply bg-gray-900 text-white;
    }

    .disabled {
        @apply opacity-50 cursor-not-allowed;
    }
    .disabled:hover {
        @apply opacity-50 cursor-not-allowed;
    }
}

/* "build": "postcss src/tailwind.css -o public/build/tailwind.css", */
